# =========================
# Python
# =========================
__pycache__/
*.py[codz]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# =========================
# Environment variables
# =========================
.env
.envrc

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# =========================
# Testing / coverage
# =========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/
*.egg

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
